
# object files
*.o

# codeblocks project files
*.layout
*.depend
*.cscope_file_list

# Valgrind
*cachegrind.out*
*ValgrindOut.xml

# executables
PineconeDbg
PineconeBin
Pinecone
pinecone

# transpiler
transpiled
